.md-content {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.md-content pre,
.md-content pre code,
.md-content .highlight {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

.md-content img {
  -webkit-user-drag: none;
  user-drag: none;
}

.md-header__title {
    font-size: 32px;
    font-weight: 700;
}

.md-header {
    background-color: #1565c0;
}
.md-header__topic {
    color: #ffffff;
}

/* 왼쪽 Navigation 메뉴 */
.md-nav__link {
    font-size: 16px;
    color: #ffffff;
}

/* Navigation 메뉴에 마우스를 올렸을 때 */
.md-nav__link:hover {
    color: #d1e8f5;
}

/* 현재 선택된 페이지 */
.md-nav__link--active {
    color: #1976d2 !important;
    font-weight: bold;
}

.indent1 {
    margin-left: 20px;
}

.indent2 {
    margin-left: 40px;
}

.indent3 {
    margin-left: 60px;
}

.indent4 {
    margin-left: 80px;
}

.big-title {
    font-size: 32px;
    font-weight: bold;
    color: #1976d2;
    margin-right: 30px;
}

.subtitle {
    font-size: 20px;
    color: #ffffff;
}
